# Ignore the data folders
*data*/

# Ignore the latex and other output of notebooks
*.tex
*.pdf
*.log
*.png
*.jpg
*.text

# ignore candidate models
models/*

# DONT ignore the best model
!models/model_105.json

# whitelist the requiremets.txt file
!requirements.txt

# Ignore any leftover archive files
*.zip

# Ignore virtual environment folders
venv/
env/
*env*/